@import './common/vars.scss';

.searchBar {
  display: flex;
  flex: 0;
  justify-content: space-between;
  padding: 0 3rem 1rem;
}

.searchInput {
  background: none;
  border: none;
  border-bottom: $border;
  color: $gray-20;
  font-size: 1.4rem;
  height: 100%;
  width: 100%;
  outline: none;
  padding: 0 0 0 2.2rem;
}

.searchWrapper {
  flex: 2;
  max-width: 30rem;
  position: relative;
}

.table {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: stretch;
  min-width: 90rem;
}

.tbody {
  flex: 2;
  overflow-y: auto;
  padding: 0 3rem 2rem;
}

.thead {
  flex: 0;
  padding: 0 3rem;
}

.userList {
  flex: 2;
  overflow-x: auto;
}
