@import '../styles/vars.scss';

.app {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: stretch;
  margin: 0 auto;
}

.modal {
  background: $gray-99;
  border-radius: .4rem;
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  margin-bottom: 2rem;
  overflow: hidden;
  padding: 2rem 3rem;
  width: 100%;
  max-width: 48rem;
}

.title {
  color: $white;
  flex-shrink: 0;
  font-size: 1.8rem;
  font-weight: 300;
  margin: 2rem 0;
  text-align: center;
  text-transform: uppercase;
}
