@import '../styles/vars.scss';

.search {
  flex-shrink: 0;
}

.searchInput {
  background: none;
  border: none;
  border-bottom: 1px solid $gray-90;
  color: $gray-20;
  font-size: 1.4rem;
  outline: none;
  padding: 0 0 1rem;
  width: 100%;
}

.userList {
  flex-grow: 2;
  overflow-y: auto;
}
