@import-normalize;
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background: #555;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

h1 {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

#root {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}
